defaults: ./grpo-dapomath17k-dsv3-megatron.yaml
policy:
  make_sequence_length_divisible_by: 4
  generation:
    vllm_cfg:
      tensor_parallel_size: 16
checkpointing:
  checkpoint_dir: results/grpo-dapomath17k-dsv3-32n4g-megatron
logger:
  wandb:
    name: grpo-dapomath17k-dsv3-32n4g-megatron
  mlflow:
    run_name: grpo-dapomath17k-dsv3-32n4g-megatron
cluster:
  gpus_per_node: 4

