defaults: ../../vlm_grpo_3B.yaml
checkpointing:
  checkpoint_dir: results/clevr_grpo
policy:
  max_total_sequence_length: 3072
  dtensor_cfg:
    enabled: false
  dynamic_batching:
    enabled: false
  make_sequence_length_divisible_by: ${policy.megatron_cfg.tensor_model_parallel_size}
  optimizer: null
logger:
  wandb:
    name: vlm-grpo-3b-megatron
cluster:
  gpus_per_node: 8
