defaults:
  - sft_vlm_3B.yaml

sft:
  val_batches: 2
  val_global_batch_size: 8

policy:
  max_total_sequence_length: 16384
  train_global_batch_size: 8
  dtensor_cfg:
    tensor_parallel_size: 1
  dynamic_batching:
    enabled: true
  tokenizer:
    video:
      num_frames: 4

data:
  # dataset
  train:
    dataset_name: general-conversation-jsonl
    split: train
    data_path: /lustre/fsw/portfolios/llmservice/users/yuanhangs/codes/megatron-lm-omcat/megatron-lm-vlm2/examples/multimodal/avlm/test/datasets/miradata_bat1_filtered_vision_5min_100.jsonl
    media_data_dir: /lustre/fsw/portfolios/edgeai/projects/edgeai_riva_rivamlops/data/videomme/MiraData/video/batch1/5min
    split_validation_size: 0.08  # use 5% of the training data as validation data
    seed: 42  # seed for train/validation split when split_validation_size > 0
  validation: null
  # default settings for all datasets
  default:
    prompt_file: null
